#change_log
tag-list

# runTimeData
runTimeData/templates/
runTimeData/datacenter.sqlite

# Editor backup files etc
*~
\#*

# Autofoo
.deps
.libs
.dirstamp
.clang_complete
.cxx_tags
.yavide_proj
.yavide_session
.vscode
Makefile
Makefile.in
datacenter.xml
datacenter.spec
*.tar.gz
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4

*.o
*.exe
cscope*
*.orig
loolwsd.log
*.log.*.gz
*.lo
*.la

# make tags
tags
test/tags
TAGS
test/TAGS

#debian
debian/.debhelper/
debian/files
debian/oxool-module-datacenter.debhelper.log
debian/oxool-module-datacenter.substvars
debian/oxool-module-datacenter/
debian/tmp/